<h1> Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
    {{#unless Devoured}}
      {{> burger/burgers-switch eat=true}}
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each cats}}
    {{#if Devoured}}
      {{> burger/burgers-switch eat=false}}
    {{/if}}
  {{/each}}
</ul>

<textarea class="burger-input"></textarea>

<button class="Submit">Submit</button>

<p class="explanation">Enter the burger you want and click the "submit" button</p>
<p class="how-to-eat">Click the "Devour It!" button to eat the burger</p>
