body {
    margin: auto;
    background-image: url("/assets/img/burger-background.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 80px;
    font-family: 'Itim', cursive;
    text-align: center;
    background: -webkit-linear-gradient(red, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.not-eat {
    font-family: 'Itim', cursive;
    font-size: 30px;
    color: #387510;
    width: 40%;
    display: inline-block;
    float: left;
    text-align: center;
}

.eat {
    font-family: 'Itim', cursive;
    font-size: 30px;
    color: #387510;
    width: 40%;
    display: inline-block;
    text-align: center;
}

.burger-input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 80px;
    border-radius: 8px;
    background: transparent;
    text-align: center;
    border-color: yellow;
}

/* .burger-input:active{
    border: none;
    outline: none;
} */

.burger-input:focus {
    outline: 0;
}

button {
    border-radius: 8px !important;
    font-family: 'Itim', cursive !important;
    background: transparent;
    border-color: yellow;
    color: yellow;
}

button:hover {
    cursor: pointer;
    background-color: yellow;
    color: yellowgreen;

}

.button-area {
    /* width: 12%; */
    text-align: center;
    margin: auto;
}

p {
    font-family: 'Itim', cursive;
    text-align: center !important;
    color: yellow !important;
}

.footer {
    font-family: 'Itim', cursive !important;
    color: yellowgreen;
    font-size: 10px;
    width: 10%;
    text-align: center;
    position: absolute;
    bottom: 0;
}